*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

/* Header */


header{
    width: 100%;
    height: 100vh;
    background: ;
    padding: 0 10%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav h1{
    font-size: 1.8em;*
    font-weight: 600px;
}

nav h1 a{
    text-decoration: none;
    color: #3f51b1;
}

nav ul{
    margin-right: 250px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 30px;
}

nav ul li a{
    text-decoration: none;
    color: #3f51b1;
}

nav div a{
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    background: #3f51b1;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 6px;
}

/* TEXT-BOx*/

#text-box{
    margin-top: 130px;
    max-width: 600px;
}

#text-box h1{
    font-size: 45px;
    margin-bottom: 20px;
    color: #3f51b1;
}

#text-box a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    background: #3f51b1;
    color: #fff;
    border-radius: 6px;
    margin-top: 50px;
}

/* BANNIERE */

#image-bann img{
    display: block;
    width: 500px;
}

#image-bann{
    top :25%;
    right: 10%;
    position: absolute;
}